* {
    margin: 0px;
    padding: 0px;
}

/*CSS vem aqui embaixo*/

header {
    background-color: #5F87DD;
    padding: 20px;
    position: fixed;
    font-weight: bold;
    width: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

body a:hover {
    text-decoration: underline;
    font-weight: bold;
    transform: scale(2);
}

#apres {
    margin-bottom: 60px;
    padding-top: 60px;
    background-color: #5F87DD;
}

#sobre {
    margin: 20px 0px;
    padding-top: 60px;
    display: flex;
    gap: 50px;
    margin-inline: 50px;
    padding-inline: 50px;
}

.linksIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    gap: 5px;
    padding: 5px;
}

.blockIcon{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.iconSobre {
    width: 50px;
    height: 50px;
}

#habil {
    margin-top: 20px;
    padding-top: 60px;
}

#habil h3 {
    border: #5F87DD solid;
    text-align: center;
}

.habilidadesContainer {
    padding-block: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.habilidadesBlock {
    border: rgb(209, 207, 207) solid 1px;
}

footer {
    background-color: #51DFA6;
}

.icone {
    fill: black;
    stroke: white;
    stroke-width: 10px;
    width: 50px;
    height: 50px;

}

footer ul {
    display: flex;
    list-style-type: none;
}