* {
    margin: 0px;
    padding: 0px;
}

/*CSS vem aqui embaixo*/

header {
    background-color: #132A4C;
    padding: 20px;
    position: fixed;
    font-weight: bold;
    width: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    background-color: #0A001B;
}


body a {
    text-transform: uppercase;
    text-decoration: none;
    color: #72A5E6;
}

body a:hover {
    text-decoration: underline;
    font-weight: bold;
    transform: scale(2);
}

#apres {
    margin-bottom: 60px;
    padding-top: 60px;
    background-color: #121619;
}

#sobre {
    margin: 20px 0px;
    padding-top: 60px;
    display: flex;
    gap: 50px;
    margin-inline: 50px;
    padding-inline: 50px;
}

.linksIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    gap: 5px;
    padding: 5px;
}

.blockIcon {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.iconSobre {
    width: 50px;
    height: 50px;
}

#habil {
    margin-top: 20px;
    padding-top: 60px;
}

#habil h3 {
    text-align: center;
}

.habilidadesContainer {
    padding-block: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer {
    background-color: #000000;
}

.icone {
    fill: white;
    stroke: black;
    stroke-width: 10px;
    width: 50px;
    height: 50px;
}

.projetos {
    width: 56px;
    height: 50px;
    stroke: white;
}

footer ul {
    display: flex;
    list-style-type: none;
}